<h2>Add a new manager</h2>
<mat-dialog-content>
    <form [formGroup]="managerForm">
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Name *" formControlName="name">
            <mat-error *ngIf="!managerForm.get('name').valid">name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Email *" formControlName="email">
            <mat-error *ngIf="!managerForm.get('email').valid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Password *" formControlName="password">
            <mat-error *ngIf="!managerForm.get('password').valid">password is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Password confirmation *" formControlName="password_confirmation">
            <mat-error *ngIf="!managerForm.get('password').valid">password confirmation is required</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="save()">Save</button>

    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>