<h2 mat-dialog-title>confirm task delete</h2>

<mat-dialog-content>

<p> Are you sure you want to delete this task? </p>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="save()">Yes</button>
    <button class="mat-raised-button" (click)="close()">Cancel</button>

</mat-dialog-actions>
