mat-sidenav-container{
    height: 90%;
}
mat-sidenav-content{
    margin: 16px;
    /* padding: 16px; */
}
mat-sidenav{
    /* background-color:#3f51b5; 
    color: white; */
    width: 300px;
    padding: 16px;
}
button{
    font-size: medium;
}
a{
    cursor: pointer;
}