<mat-toolbar color="primary" class="d-flex justify-content-between">
  <div>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span>ToDoList</span>
  </div>
  <div *ngIf="isManager">

    <button mat-raised-button color="primary" (click)="openAddManagerDialog()">
      Add Manager<mat-icon>add</mat-icon>
    </button>

    <button mat-raised-button color="primary" (click)="openDialog('assign')">
      Assign Task<mat-icon>add</mat-icon>
    </button>
    
  </div>
  <div>
    {{name}}<mat-icon>person</mat-icon>
    <button mat-button (click)="logout()">logout<mat-icon aria-hidden="false">exit_to_app</mat-icon></button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item (click)='switchState(0)'> All Tasks </a>
      <a mat-list-item (click)='switchState(1)'> Inprogress Tasks </a>
      <a mat-list-item (click)='switchState(2)'> Completed Tasks </a>
      <a mat-list-item (click)='switchState(3)'> Archived Tasks </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <div class="container-fluid" style="width:90%;">

      <div class="d-flex justify-content-between" style="margin: 20px;">
        <div>
          <h1> {{title}} </h1>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="openDialog('add')">
            Add Task<mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <app-task *ngFor="let task of tasks" [task]="task"></app-task>
      <p *ngIf="tasks.length == 0">No tasks to show</p>
      <nav *ngIf="state_id == 0 && tasks.length>0">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" (click)="loadTasks(current_page-1)">Previous</a></li>
          <li class="page-item"><a class="page-link" >{{current_page}}</a></li>
          <li class="page-item"><a class="page-link" (click) = "loadTasks(current_page+1)">Next</a></li>
        </ul>
      </nav>

      <nav *ngIf="state_id > 0 && tasks.length>0">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" (click)="getTasksByState(getCurrnetPage()-1)">Previous</a></li>
          <li class="page-item"><a class="page-link" >{{getCurrnetPage()}}</a></li>
          <li class="page-item"><a class="page-link" (click) = "getTasksByState(getCurrnetPage()+1)">Next</a></li>
        </ul>
      </nav>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>