
  .btn {
    display: block;
    width: 100%;
    text-align: center;
  }

  mat-card{
    width: 400px;
    height: 350px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
}
mat-card-title{
    text-align: center;
}
mat-form-field{
    width: 100%;
}
.main{
    width: 100%;
    height: 100%;
    background-color: honeydew;
}