<div class="main">

    <mat-card>
        <mat-card-title>Log in</mat-card-title>
        <mat-card-content>
            <form [formGroup]="loginForm">
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Email *" formControlName="email">
                    <mat-error *ngIf="!loginForm.get('email').valid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Password *" [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="!loginForm.get('email').valid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="login()">Login</button>
            </form>
            <hr>
            <p>Don't have an account? <a routerLink="/signup">signup </a></p>
        </mat-card-content>
    </mat-card>
</div>