<mat-toolbar color="primary" class="d-flex justify-content-between">
    <span>ToDoList</span>
      <div>
          <button mat-button routerLink = "/login"> login <mat-icon>login</mat-icon></button>
          <button mat-button routerLink = "/signup">signup<mat-icon>app_registaration</mat-icon></button>
      </div>
</mat-toolbar>
<div class="main">
    <h1 class="mat-display-3">Organize it all with Todolist</h1>
    <p class="mat-display-1">Regain clarity and calmness by getting
         all those tasks out of your head and onto your to-do list</p>
</div>
