<div class="main">
    <mat-card>
        <mat-card-title>sign up</mat-card-title>
        <mat-card-content>
            <form [formGroup]="signUpForm" (ngSubmit) = "signUp()">
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Name *" formControlName="name">
                    <mat-error *ngIf="!signUpForm.get('name').valid">name is required</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Email *" formControlName="email">
                    <mat-error *ngIf="!signUpForm.get('email').valid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Password *" formControlName="password">
                    <mat-error *ngIf="!signUpForm.get('password').valid">password is required</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Password confirmation *" formControlName="password_confirmation">
                    <mat-error *ngIf="!signUpForm.get('password').valid">password confirmation is required</mat-error>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>your manager</mat-label>
                    <mat-select formControlName="mgr_id">
                      <mat-option *ngFor="let mgr of managers" [value]="mgr.id" >
                        {{mgr.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!signUpForm.get('mgr_id').valid">manager name is required</mat-error>
                  </mat-form-field>
                 <button mat-raised-button color="primary" class="btn">Signup</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>