<h2>Add a new task</h2>
<mat-dialog-content>
    <form [formGroup]="taskForm">
        <mat-form-field appearance="outline">
            <input matInput placeholder="title *" formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="description *" formControlName="description">
        </mat-form-field>

        <mat-form-field>
            <mat-label>priority *</mat-label>
            <mat-select formControlName="priority">
                <mat-option *ngFor="let priority of priorities" [value]="priority.id">{{priority.title}}</mat-option>
            </mat-select>
        </mat-form-field> 
        <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName = "due_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field *ngIf="action == 'assign'">
            <mat-label>assign to *</mat-label>
            <mat-select formControlName="user_id">
                <mat-option *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
            </mat-select>
        </mat-form-field> 

    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button *ngIf="action == 'add' || this.action =='assign'" class="mat-raised-button" (click)="save()">Save</button>
    <button *ngIf="action == 'update'" class="mat-raised-button" (click)="updateTask()">Update</button>

    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>