<mat-card>
    <mat-card-content [ngStyle] = "{ backgroundColor: getColor() }">
        <div class="row">
            <div class="col">
                <mat-checkbox *ngIf="task.state_id != 2">{{task.title}}</mat-checkbox>
                <mat-checkbox *ngIf="task.state_id == 2"><del>{{task.title}}</del></mat-checkbox>
            </div>
            <div class="col">Created Date : {{task.created_date | date: "mediumDate"}}</div>
            <div class="col" *ngIf="task.state_id == 1">Due Date : {{task.due_date | date: "mediumDate"}}</div>
            <div class="col" *ngIf="task.state_id == 2">Complete Date : {{task.completed_date | date: "mediumDate"}}</div>
            <div class="col" *ngIf="task.state_id == 3">Archive Date : {{task.completed_date | date: "mediumDate"}}</div>

        </div>
        <div class="row"> 
            <div class="col-md-6"> {{task.description}} </div>
            <div class="col-md-3" *ngIf="task.state_id == 1">Inprogress</div>
            <div class="col-md-3" *ngIf="task.state_id == 2" >Complted</div>
            <div class="col-md-3" *ngIf="task.state_id == 3">Archived</div>
            <div class="col-md-3">
                <button *ngIf="task.user_id == task.created_by" mat-icon-button (click)="openDialog()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngIf="task.state_id == 1 || task.state_id == 2" (click) = "archiveTask()">
                        <span>Archive</span>
                    </button>
                    <button mat-menu-item *ngIf="task.state_id == 1" (click) = "completeTask()">
                        <span>Mark As Done</span>
                    </button>
                    <button mat-menu-item (click) = "openDeleteDialog()">
                        <span>Delete</span>
                    </button>

                </mat-menu>
            </div>
        </div>
    </mat-card-content>
</mat-card>